:root {
    --green: #038768;
    --font-sans-serif: "Poppins", sans-serif;
    --font-serif: "DM Serif Display", serif;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  }
  
 h1 {
    font-family: var(--font-serif);
    font-size: 6em;
    line-height: 1em;
    letter-spacing: 0.05em;
    color: white;
    margin: 0;
    padding: 0;
  }
